/* style.css */

* {
    font-family: 'Roboto', sans-serif;
    color: white;
}

a {
    text-decoration: none;
}

body {
    display: flex;
    flex-direction: column;
    margin: 0px;
}

.footer {
    display: flex;
    flex: 0 0 auto;
    height: 80px;
    background-color: #1F2937;
    color: white;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    color: white;
}

.header {
    display: flex;
    flex: 0 0 auto;
    height: 100px;
    background-color: #1F2937;
    color: white;
    justify-content: space-between;   
}

.header_links {
    display: flex;
    align-items: flex-end;
    padding-right: 20px;
    gap: 15px;
}

.intro {
    display: flex;
    background-color: #1F2937;
    justify-content: center;
    padding-top: 80px;
}

.intro_pic {
    display: flex;
    padding-bottom: 30px;
    padding-right: 15px;
}

.intro_tb {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    margin-top: 25px;
    margin-right: 60px;
}

.intro_title {
    font-size: 48px;
    font-weight: 1000;  
}

.ip1,
.ip2,
.ip3 {
    width: 260px;
    height: 500px;
    margin: 10px;
    flex: 1;
    border-style: solid;
    border-radius: 15px;
    border-color: rgb(14, 14, 71);
    border-width: thin;
    object-fit: cover;
}

.ip1 {
    object-position: 75% top; 
}

.ip2 {
    object-position: 42% top;
}

.ip3 {
    object-position: 52% top;
}

.logo {
    padding: 15px;
    font-weight: 700;
    font-size: 25px;
    align-self: center;
    margin: 15px;
    margin-top:25px;
    margin-left: 40px; 
}

.pslide {
    background-color: lightgrey;
    overflow: hidden;  
    position: relative; 
    display: flex;
    justify-content: center;
<<<<<<< HEAD
    flex-direction: column;
    text-align: center;
    align-items: center;
}

@keyframes ps_1 {
    0% {content: url(./static/Toby-003.jpg);}
    10% {content: url(./static/Tira-003.jpg); object-position: 50% 50%;}
    20% {content: url(./static/Char-003.jpg);}
    30% {content: url(./static/Gang-002.jpg);}
    40% {content: url(./static/Toby-002.jpg); object-position: right 50%;}
    50% {content: url(./static/Tira-002.jpg);}
    60% {content: url(./static/Char-002.jpg);}
    70% {content: url(./static/Gang-001.jpg);}
    80% {content: url(./static/Toby-001.jpg); object-position: 50% 50%;}
    90% {content: url(./static/Tira-001.jpg);}
    100% {content: url(./static/Char-001.jpg);}
=======
}

@keyframes ps_1 {
    0% {background-image: url(./static/Toby-003.jpg);}
    10% {background-image: url(./static/Tira-003.jpg); background-position: center;}
    20% {background-image: url(./static/Char-003.jpg);}
    30% {background-image: url(./static/Gang-002.jpg);}
    40% {background-image: url(./static/Toby-002.jpg); background-position: center;}
    50% {background-image: url(./static/Tira-002.jpg);}
    60% {background-image: url(./static/Char-002.jpg);}
    70% {background-image: url(./static/Gang-001.jpg);}
    80% {background-image: url(./static/Toby-001.jpg);}
    90% {background-image: url(./static/Tira-001.jpg);}
    100% {background-image: url(./static/Char-001.jpg); background-position: center;}
    

>>>>>>> 53d0e3945085366b95c672f850f53cb1221e8de5
}

.ps_1 {
    height: 500px;
    width: 600px;
<<<<<<< HEAD
    object-fit: cover;
=======
    background-size: cover;
>>>>>>> 53d0e3945085366b95c672f850f53cb1221e8de5
    margin: 15px;
    margin-top: 45px;
    margin-bottom: 45px;
    border-style: inset;
    border-radius: 15px;
    border-color: #1F2937;
    animation: 60s ps_1 infinite;
    animation-delay: 2s;
    animation-fill-mode: both;
    animation-timing-function: linear;
}
<<<<<<< HEAD

.ps_title {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
    margin-top: 30px;
=======
>>>>>>> 53d0e3945085366b95c672f850f53cb1221e8de5
}

.top_link {
    color: white;
    padding: 10px;
    margin: 5px;
}

.wpbody {
    display: flex;
    flex: 1;
    flex-direction: column;
}

.xinfo {
    display: flex;
    background-color: white; 
    flex-direction: column;
    align-items: center;
}

.xinfo_box {
    display: flex;
    flex-direction: column;
    color: black;
}

.xinfo_con {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

.xinfo_p1,
.xinfo_p2,
.xinfo_p3 {
    width: 250px;
    height: 250px;
    margin: 10px;
    flex: 1 1 0;
    border-style: solid;
    border-radius: 15px;
    border-color: #3882F6;
    padding: 20px;
    object-fit: contain;
    margin-right: 30px;
    margin-bottom: 15px;
}

.xinfo_t {
    color: black;
    text-align: center; 
}

.xinfo_title {
    color: black;
    font-size: 34px;
    padding-top: 50px;
    padding-bottom: 40px;
    font-weight: 600;
}